html {    
    font-size: 14px;
    font-weight: 400;
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(210, 10%, 33%);   
    line-height: 1.5;
    overflow-x: hidden;
}

body {
    margin:0;
    padding: 0;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    overflow-x: hidden;    
}

.container {max-width: 80%;}

section {margin-top: 10rem;}
header {margin: 4rem 0;}    

h1 {font-size: 2rem; font-weight: 600;}
h2 {font-size: 1.7rem; font-weight: 600;}
h3 {font-size: 1.5rem; font-weight: 600; padding-top: 1.5rem; margin-bottom: 0;}

p {color: hsl(201, 11%, 66%); margin: 0.6rem;}
ul {list-style-type: none; line-height: 2; padding: 0;}
a {text-decoration: none; color: hsl(210, 10%, 33%);}
img {max-width: 100%; margin: 1.5rem auto;}
.icon {margin: 4em 0 -2em 0; padding: 0;}

.button {
    display: inline-block;
    background-color: hsl(171, 66%, 44%);
    color: white;
    font-weight: 600;
    padding: 0.7em 5em;
    margin: 0.6em;
    border-radius: 1.5em;
    border-bottom: 3px solid hsl(171, 66%, 40%);
}

.button:nth-of-type(2) {
    background-color: hsl(233, 100%, 65%);
    border-bottom: 3px solid hsl(233, 100%, 61%);
}

.button:hover {opacity: 0.7}

footer {
    background-color: hsl(201, 11%, 95%);
    padding-bottom: 2rem;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

footer a:hover {text-decoration: none; color: hsl(171, 66%, 40%);}
footer img {max-width: 15%; padding-top: 2.5rem;}

#logo-bottom {max-width: 50px; max-height: 50px;}

.social {display: inline; padding: 0.5em;}
.social:hover {opacity: 0.7;}

@media (min-width: 1250px) {

    html {font-size: 18px;}

    body {background-image: url(images/bg-header-desktop.png);} 
        
    #logo-top {max-width: 100px;}

    .button {
        padding: 0.7em 2em;
        margin: 2em 0.6em;
        border-radius: 1.5em;
        border-bottom: 3px solid hsl(171, 66%, 40%);
        font-size: 15px;
    }
    
    .keep {text-align: left;}
    .keep img {float: left; position: relative; right: 200px; bottom: 100px; padding: 2rem 0 2rem 0;}
    .keep h2 {text-align: center;}
    .keep h2+p {text-align: center; margin-bottom: 6rem;}
   
    h1+p, h2+p {max-width: 50%; margin: auto;}
    h3 {font-size: 1.2rem;}
    .keep h3+p {max-width: 90%;}
    h2+p, h3+p {font-size: 16px;}

    .access {clear: both;}
    
    .tools {flex-basis: 30%;}
    .all-tools {display: flex; justify-content: center;}

    .companies {margin-top: 100px;}
    .companies li {display: inline; margin: 0 2.5rem; justify-self: left;}

    .info {display: flex; flex-wrap: wrap;}

    #logo-bottom {display: block; width: 25%;}

    
    .footer-nav {
        display: block;
        width: 50%;
        text-align: left;
        column-count: 3;
        justify-self: flex-start;
        padding-top: 2.5rem;
    }
        
    .footer-nav li {display: inline-block; margin: 0 2rem;}
    .social-icons {display: block; width: 25%}   
    
    footer p {margin: 2.5rem 0.5rem 0 0; display: inline-block;} 
}

